<h1>Strona główna</h1>
<div>
    <a href="/allgames/"><button class="btn btn-lg btn-primary">Lista wszystkich gier</button></a>
    <a href="/wishlistgames/"><button class="btn btn-lg btn-primary">Lista życzeń gier</button></a>
    <a href="/rpggames/"><button class="btn btn-lg btn-primary">Lista Gier Gatunku RPG</button></a>
    <body background="images/baner.jpg" bgcolor="gray">...</body>
</div>
