<form action="/rpggames/rpggame/" method="post">
    <label for="game_name">Podaj nazwę: </label>
    <input id="game_name" type="text" name="game_name" value="{{rpggame.gameName}}"/>
    <input type="hidden" type="text" name="_id" value="{{rpggame._id}}"/>
    <input type="submit" value="Zatwierdź"/>
    <a href="/rpggames/">Powrót</a>
</form>